@import url(./styles/header.css);
@import url(./styles/section1.css);
@import url(./styles/section2.css);
@import url(./styles/responsive.css);
@import url(./styles/reset.css);
@import url(./styles/footer.css);
@font-face {
    font-family: 'beer';
    src: url('./imgCervIcons/BurylandScriptDemo.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,600&display=swap');




body {
    font-family: 'beer';
    margin-left: 50px;
    margin-right: 50px;
}