@media screen and (max-width: 480px) {
    body {
        margin-right: 30px;
        margin-left: 30px;
    }


    .header {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }
    
    
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
               
    }

    .navbar img {
        width: 400px;
        height: 250px;
        margin-left: 50px;
        
        
    }

    nav {
        width: 480px;
        height: 0;
        display: flex;
        justify-content: space-around;
        display: none;
    }
    
    
    nav ul li {
        display: none;
        width: 100px;
        font-size: 30px;
    }

    .redessociales {
       display: flex;
       justify-content: space-around;
       width: 480px;
    }

    .redessociales img {
        width: 50px;
        cursor: pointer;
    }

    /* section1 */

main {
    width: 480px;
}

.imagenPrincipal img {
    display: none;
}
.textoEncabezado {
    margin-top: 30px;
    width: auto;
    height: 500px;;
    background: url(/Cerveceria/imgCervIcons/FotoTinchoCuadrada.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.textoEncabezado h1{
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
    color:  #FFC93C;
    
}

.textoEncabezado p {
  font-size: 30px;
  color:  #FFC93C;

}

.textoEncabezado button {        
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:linear-gradient(to bottom, #FFC93C 5%, #FFC93C 100%);
    background-color: #FFC93C;
    border-radius:6px;
    border:1px solid  #FFC93C;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px  #FFC93C;;
    margin-top: 320px;
    } 

    .textoEncabezado button:hover {
        background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
        background-color:#fb9e25;
    }
    .textoEncabezado button:active {
        position:relative;
        top:1px;
    }

    /* section2 */

    .tituloproductos {
        font-size: 30px;
        font-weight: 700;
    }
    
    .productos {
        display: grid;
        grid-template-columns:  1fr;
        gap: 10px;
    }
}

