.principal {
    display: flex;
    background: url(/imgCervIcons/cervezalarga2.svg);
    background-repeat:no-repeat;
    background-size: 1120px 400px;
    background-image: 100%;
    border-radius: 25px;
    height: 400px;
    min-width: 760px;
    align-items: center;
    margin-left: 7%;
}

.textoEncabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFC93C;
    font-weight: 300;
    width: 60%;
    margin-left: 18%;
}

.textoEncabezado h1 {
    display: flex;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    padding: 45px;
    line-height: 55px;
    height: 30%;
    color: #FFC93C;
    
}

.textoEncabezado p {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 1.1rem;
    line-height: 25px;
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    margin-top: 0;
    color: #FFC93C;

}

.textoEncabezado button {
    background-color: #31326F;
    border-radius: 30px;
    color: #DBF6E9;
    border: none;
    font-family: 'beer';
    font-weight: normal;
    margin-top: 2%;
    height: 35px;
    width: 200px;
    box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.6);
}

.principal img {
    position: relative;
}

.imagenPrincipal {
    width:55%;
}

.descripcion-productos {
    line-height: 25px;
    text-align: center;
}

.descripcion-productos h3 {
    font-weight: bold;
    text-decoration: underline black;
    font-size: 1.3rem;
}