.cuadrado1{

    position: relative;
    width: 400px;
    height: 400px;
    background-color: blue;
    
}
.cuadrado2{
    width: 400px;
    height: 400px;
    background-color: violet;
    position: absolute;
    z-index: -1;

}
.imagen{
    position: absolute;
}

.imagen2:hover{
    filter: opacity(1);
}

.cuadrado1:hover{
filter: opacity(1);
}